@model List<MyPortfolio_MVC.Models.TblExpertis>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count=0;
}

<h2>Uzmanlık Alanları</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Uzmanlık</th>
      

    </tr>

    @foreach (var item in Model)
    {

        count++;
        <tr>
            <th>@count</th>
            <td>@item.Title</td>
           


            <td><a href="/Expertise/DeleteExpertise/@item.ExpertiseId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Expertise/UpdateExpertise/@item.ExpertiseId" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
    }


</table>
<br />
<a href="/Expertise/CreateExpertise" class="btn btn-primary">Yeni Eğitim Ekle</a>

