@model MyPortfolio_MVC.Models.TblExpertis
@{
    ViewBag.Title = "UpdateExpertise";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Uzmanlık Alanı Güncelleme Sayfası</h2>

<br />
<form method="post">
    @Html.HiddenFor(x => x.ExpertiseId)
    <label>Uzmanlık Alanı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })


    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
    <br />
</form>
