@model MyPortfolio_MVC.Models.TblSocialMedia
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Sosyal Medya Ekleme Sayfası</h2>
<br />
<form method="post">
    <label>Sosyal Medya Sitesi</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label>Linki</label>
    @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
    
   
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
    <br />
</form>
