@model List<MyPortfolio_MVC.Models.TblSocialMedia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<h2>Sosyal Medyalarım</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Site Adı</th>
        <th>Link</th>
       
    </tr>

    @foreach (var item in Model)
    {

        count++;
        <tr>
            <th>@count</th>
            <td>@item.Name</td>
            <td>@item.Url</td>

           
            <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
    }


</table>
<br />
<a href="/SocialMedia/CreateSocialMedia" class="btn btn-primary">Yeni Eğitim Ekle</a>

