@model Tuple<List<MyPortfolio_MVC.Models.TblContact>, List<MyPortfolio_MVC.Models.TblSocialMedia>>

@{
    var contact = Model.Item1;
    var socialMedia = Model.Item2;
}
<section id="contact" class="s-contact target-section">

    <div class="row contact-top">
        <div class="column lg-12">
            <h2 class="text-pretitle">
                İletişime geçin
            </h2>

            <p class="h1">
                Sevinçle sizinle iletişime geçmenizi bekliyorum. 
                Sorularınız varsa veya sohbet etmek isterseniz, 
                lütfen bana mesaj atın.
            </p>
        </div>
    </div> <!-- end contact-top -->



    <div class="row contact-bottom">
        <div class="column lg-3 md-5 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle">Bana ulaşın</h3>
            <p class="contact-links">
                @foreach(var item in contact) 
                {
                <a href="mailto:@item.Email" class="mailtoui">@item.Email</a> <br>
                <a href="tel:@item.Phone">@item.Phone</a>
                }
            </p>
        </div>
        <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle">Sosyal Medya</h3>
            <ul class="contact-social">
              
                    @foreach (var a in socialMedia)
                    {

                        <li><a href="@a.Url">@a.Name</a></li>
                    }
                    
                
                </ul>
        </div>
        <div class="column lg-4 md-12 contact-block">
            <a href="#contact2" class="btn btn-primary">
                Mesaj Bırakın
            </a>

        </div>
    </div>




</section>




<section id="contact2" class="s-contact target-section">

    <div class="row contact-top">
        <div class="column lg-12 md-6 tab-6 stack-on-550 contact-block">
            <h2 class="text-pretitle">
                Mesaj Gönderin
            </h2>
            <form class="column lg-12" method="post" action="/Default/SendMessage/">
                <label>Ad Soyad</label>
                <input type="text" name="Name" class="form-control" required />
                <br />
                <label>Email</label>
                <input type="email" name="Email" class="form-control" required />
                <br />
                <label>Konu</label>
                <input type="text" name="Subject" class="form-control" required />
                <br />
                <label>Mesajınız</label>
                <textarea type="text" name="MessageContent" class="form-control" rows="4" required></textarea>
                <br />
                <button class="btn btn-outline-dark">Mesajı Gönder</button>


            </form>
        </div>
    </div> <!-- end contact-top -->








</section>
